* {
  padding: 0;
  margin: 0;
  border: none;

  font-size: calc(12px + 0.590625vw);
  font-family: roboto;
}
header {
  background-color: #1f2937;
}
.nav {
  /* max-width: 950px; */
  display: flex;
  flex-direction: row;
  gap: 25px;

  justify-content: flex-end;
  padding: 15px 0px;

  margin: 0 5%;
}
.logo {
  margin-right: auto;
  /* font-size: 24px; */
  font-weight: bold;
  color: #f9faf8;
}

.nav > .link {
  color: #e5e7eb;

  font-weight: lighter;
}
.topSection {
  background-color: #1f2937;
}
.topContainer {
  display: flex;
  flex-direction: row;

  justify-content: space-around;
  align-items: center;

  padding: 50px 0;

  margin: 0 5%;
}

.rightContainer > img {
  max-width: 100%;
  max-height: 100%;

  /* min-width: 210px; */
}

.leftContainer > h1 {
  font-size: calc(100% * 2);
  font-weight: bolder;
  color: #f9faf8;
}
.leftContainer > p {
  /* font-size: 18px; */
  color: #e5e7eb;

  padding: 5px;
}
.signupBtn {
  padding: 6px 20px;
  border-radius: 6px;

  min-width: fit-content;

  color: #f9faf8;

  font-size: small;
}
.cardsSection {
  margin: 0 5%;
}
.cardsSection > h1 {
  color: #1f2937;
  /* font-size: 36px; */
  font-size: larger;
  font-weight: bolder;

  text-align: center;
  padding: 20px 0px;
}
.infocard {
  max-width: 100px;

  margin: 10px 0;
}
.infoText {
  font-size: small;
  padding-top: 6px;
}
.cardsSection > .infocardsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  margin: 0 10%;
  gap: 10%;

  flex-grow: 2;
}
.infoImg {
  width: 100px;
  height: 100px;
  border: 3px #3882f6 solid;
  border-radius: 6px;
}
.quoteSection {
  background-color: #e5e7eb;
}
.quoteContainer {
  padding: 8% 20%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.quoteContainer > h2 {
  /* font-size: 36px; */
  font-style: italic;
  font-weight: lighter;
  color: #1f2937;
}
.quoteContainer > .quoteSource {
  font-weight: bold;
  align-self: flex-end;
  padding-top: 10px;
}
.signupBtn,
.signupContainer {
  background-color: #3882f6;
}
.signupContainer > button {
  border: 2px #f9faf8 solid;
  height: fit-content;

  /* padding: 0px 30px; */
}
.signupContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin: 5% 10%;
  padding: 20px 5%;

  color: #f9faf8;
  border-radius: 6px;
}
.signuptextContainer > p {
  color: #e5e7eb;
  font-size: small;
}
footer {
  background-color: #1f2937;

  text-align: center;
  color: #e5e7eb;
  font-size: small;

  padding: 25px 20px;
}

@media screen and (max-width: 550px) {
  * {
    font-size: calc(10px + 0.390625vw);
  }
  .infoImg {
    width: 80px;
    height: 80px;
  }
}
